.imagem-arredondada { 
     width: 200px; /*Ajuste o tamanho conforme necessário*/ 
     height: 200px; /*Ajuste o tamanho conforme necessário */
     border-radius: 5px; /*Para deixar arredondada */
     object-fit: cover; /*Para manter a proporção da imagem*/ 
     display: block; 
     margin: 10px 0; /*Espaço acima e abaixo da imagem */ 
     top: 20px; /*Distância que a imagem vai descer */
     padding-left: 40%;
    padding-bottom: 30px;
} 
h1, h2, p{
    text-align: center;
}

.contador {
    padding-left: 130px;
    padding-bottom: 100px;
}

img { 
    width: 70%;  /* Tamanho da imagem */
    height: 70%;
    padding-left: 50px; 
    object-fit: cover;
    padding-top: 10px;
    /*border-radius: 50%;  /* Arredondar a imagem */
    position: relative;
}

div{
    align-items: center;
}

td{
    border-radius: 10%;
}

input[type="number"] {
    width: 100px;
    box-sizing: border-box; /* Inclui padding e borda na largura total */

}